$nav-bar-color: #a8d;
$dark-violet: rgb(138, 86, 218);
$eye-color: rgb(101, 77, 136);
$electronics-color: rgb(78, 148, 121);
$jewelery-color: rgb(172, 92, 172);
$mens-clothing-color: rgb(50, 80, 105);
$womens-clothing-color: rgb(122, 92, 172);
$blue: #007bff;
$dark-blue: rgba(0, 123, 255, 0.25);
$shadow: rgba(0, 0, 0, 0.1);
$gray: #aaa;
$light-gray: #ccc;
